@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/Carrosel.css");
@import url("styles/topico.css");
@import url("styles/footer.css");


:root{
--cor-fundo: #EBECEE;
--background-header:#FFFFFF;
--Titulo-Menu:#EB9B00;
--Lista-principal: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
--fonte-principal:"Poppins"; 
--background-banner:#002F52;
--cor-texto: #000000;
--cor-footer: #F9F9F9;
--fonte-secundária: "Josefin Sans";
--cor-texto-footer:  #474646;


}

body{

    background-color: var(--cor-fundo);
    font-family: var(--fonte-principal);
    font-size: 10px;
}



