.cabecalho__menu-hamburguer{

    height: 36px;
    width: 36px;
    background-image: url('../img/Menu.svg');
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;

}

.cabecalho{

    background-color: var(--background-header);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    position: relative;
}

.container{

    display: flex;
    align-items: center;

}

.container__botao:checked ~ .container__rotulo > .cabecalho__menu-hamburguer{

    background-image: url("../img/Menu Aberto.svg");
}

.container__botao:checked ~ .container__rotulo{

    background: var(--Lista-principal);
}

.container__imagem{

    padding: 1em;
    
}

.lista__menu{

    display:none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao:checked~.lista__menu{ /*checked verifica se está preenchida o checkbox ---  ~. ira procurar outro elemento que vem em seguida*/
display: block;
}

.lista__menu__titulo,.lista_menu__itens{

    padding:  1em;
    background-color: var(--background-header);
}

.lista__menu__titulo{

    color:var(--Titulo-Menu);
    font-weight: 700;
    font-size: 16px;
}

.lista__menu__link{
    background: var(--Lista-principal);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
}

.container__botao{

    display:none;
}

.container__titulo{

    display:none;
}

.opcoes{

    display: none;
}

.container__texto{

    display: none;
}

.opcoes__categorias:checked ~.opcoes__rotulo >.opcoes__itens{

background: var(--Lista-principal);
color: var(--background-header);
}

.opcoes__itens{

    padding: 2em 2em;
    
}


@media screen and (min-width: 1024px) {
    

    .container__titulo,.container__titulo__negrito{

        font: var(--fonte-secundária);
        font-size: 30px;
        color: var(--cor-texto);
    }

    .container__titulo{

        font-weight: 400;
        display: block;
    }

    .container__titulo__negrito{
        font-weight: 700;
    }

    .opcoes{

        display: flex;
        color: var(--cor-texto);
    }

    .opcoes__itens{

        padding: 0 2em;
        font-size: 16px;
        font-weight: 400;
    }

    .container__imagem__transparente{

    display: none;
    }

    .cabecalho__menu-hamburguer{
        display: none;
    }

    .opcoes__categorias:checked~.lista__menu{
        display: block;
        width: auto;


    }
.opcoes__categorias{

    display: none;

        display: block;
}

.container__texto{

    display: none;
}

.opcoes__categorias{ /* tirar chack box*/ 
    display: none;
}

}

@media screen and (min-width: 1350px) {

.container__link{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: black;
    text-decoration: none;
    size: 20px;
}

.container{

    padding: 0 2em;
}

.opcoes{

    margin-right: auto;
}

.container__texto{

    display: block;
}

.lista_menu__itens:hover{

    background: var(--Lista-principal);
}

.lista_menu__itens:hover >.lista__menu__link{
-webkit-text-fill-color: var(--background-header);
text-decoration: none;

}