.topico__background{
background-color: var(--background-banner);

}

.topico{
    background-color: var(--background-header);
margin-top: 2em;
    padding: 2em 0;
    
    }

.topico__titulo{
text-align: center;
padding: 2em;
    font-size: 16px;
    font-weight: 300;
    color: var(--cor-fundo);
}

.topico__items{
display: flex;
flex-wrap: wrap;
justify-content: center;

}

.topico__lista{

    padding-bottom: 2em;
}


.items__lista{

    font-size: 14px;
    font-weight: 700;
    color: var(--background-header);
    margin:0.5em 0.5em;
    padding: 1.4em 1.5em;
    background-color: var(--Titulo-Menu);

}

@media screen and (min-width: 1024px){

.topico__titulo{

    font-size: 24px;
}

.items__lista{
    font-size: 24px;
    }
}

@media screen and (min-width: 1350px){

    .topico__items{
        margin: 0 25em;

    }

}
